@font-face {
  font-family: "Hacker";
  src: url("../assets/fonts/hacker.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Hacker", sans-serif;

  background-image: url(../assets/images/HarmonyOS-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  -webkit-app-region: drag;
}

.main-container {
  width: 90%;
  max-width: 700px;
  text-align: center;
  margin: auto;
}

p {
  color: white;
}

.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  box-sizing: border-box;

  background: #22066e;
  border-top: 4px solid #1344ca;

  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
  z-index: 6;
  -webkit-app-region: no-drag;
}

.footer-left {
  height: 45px;
  width: auto;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.footer-right {
  color: #ccc;
  font-size: 17px;
  margin: 0;
  margin-left: auto;

  cursor: pointer;
  transition: color 0.2s;
  -webkit-app-region: no-drag;
}

.footer-right:hover {
  color: white;
  -webkit-app-region: no-drag;
}

.login-return {
  position: fixed;   
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: clamp(1.7rem, 2vw, 2rem);
  color: white;
}

.pc {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 70px;
  display: flex;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.explorer {
  position: fixed;
  top: 115px;
  left: 15px;
  width: 70px;
  display: flex;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.music {
  position: fixed;
  top: 215px;
  left: 15px;
  width: 60px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

@keyframes shake {
  0% { transform: translate(0); }
  25% { transform: translate(2px, -2px); }
  50% { transform: translate(-2px, 2px); }
  75% { transform: translate(2px, 2px); }
  100% { transform: translate(0); }
}

.popup {
  position: absolute;

  width: 300px;
  height: 250px;
  padding: 15px;

  background: rgb(28, 0, 190);
  border: 4px solid rgb(0, 98, 196);
  border-radius: 8px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.3);

  color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px black;
  font-family: sans-serif;
  text-align: center;
  cursor: pointer;
  animation: shake 0.3s infinite;
  -webkit-app-region: no-drag;

  z-index: 5; 
}