@font-face {
  font-family: "Hacker";
  src: url("../assets/fonts/hacker.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Hacker", sans-serif;
  background-color: black;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: drag;
}

.landing-container {
  width: 90%;
  max-width: 700px;
  text-align: center;
}

.end-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  color: blue;
  margin: 0;
}

.welcome-el {
  font-size: clamp(1.7rem, 2vw, 2rem);
  margin-bottom: 1rem;
  opacity: 0;
  transition: opacity 2s ease;
}

.gif-container {
  margin-bottom: 2rem;
}

.globe-gif {
  display: block;
  width: min(35vw, 450px);
  max-width: 450px;
  height: auto;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 2s ease;
}

.button-container {
  text-align: center;
  -webkit-app-region: no-drag;
}

.start-btn {
  color: blue;
  font-family: "Hacker", sans-serif;
  font-size: clamp(1.5rem, 1.5vw, 1rem);
  background-color: black;

  border-radius: 10px;
  border: 2px blue solid;
  padding: 0.5rem 1rem;

  opacity: 0;
  transition: opacity 2s ease;
  -webkit-app-region: no-drag;
}

.start-btn:hover {
  color: rgb(125, 190, 255);
  border: 2px rgb(125, 190, 255) solid;
  -webkit-app-region: no-drag;
}

.carousel {
  width: 100%;
  overflow-x: auto;
  margin: 3em auto;
  display: flex;
  gap: 1em;
  scroll-behavior: smooth;
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
  -webkit-app-region: no-drag;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel::scroll-button(right),
.carousel::scroll-button(left) {
  display: flex;
  content: "▶";
  border: none;
  background-color: rgb(50, 142, 247);
  font-family: "Hacker";
  font-size: 2.5rem;
  text-align: center;
  justify-content: center;
  color: white;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  padding-bottom: 0.5 rem;
  cursor: pointer;
  position: fixed;
  position-anchor: --carousel;
  position-area: right center;
  translate: -50%;
  -webkit-app-region: no-drag;
}

.carousel::scroll-button(right):hover,
.carousel::scroll-button(left):hover {
  background-color: rgb(45, 62, 244);
}

.carousel::scroll-button(left) {
  content: "◀";
  position-area: left center;
  translate: 50%;
  -webkit-app-region: no-drag;
}

.carousel::scroll-button(right):disabled,
.carousel::scroll-button(left):disabled {
  opacity: 0.5;
  cursor: auto;
}

.card {
  scroll-snap-align: start;
  height: 40em;
  border-radius: 2em;
  padding: 1em;
  align-content: center;
}

#galleryBtn {
  position: fixed;
  top: 15px;
  right: 15px;

  padding: 10px 16px;
  font-size: 23px;
  font-family: "Hacker";

  background-color: transparent;
  border: 2px solid rgb(97, 142, 227);
  color: rgb(98, 162, 246);
  border-radius: 8px;

  cursor: pointer;
  z-index: 20;
  /* above canvas + video */
  -webkit-app-region: no-drag;
}

#galleryBtn:hover {
  background-color: #424242;
  -webkit-app-region: no-drag;
}
