@font-face {
  font-family: "Hacker";
  src: url("../assets/fonts/hacker.ttf") format("truetype");
}

* {
  cursor:
    url("../assets/images/wii-cursor.png") 10 10,
    auto;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Hacker", sans-serif;
  background-color: black;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-container {
  width: 90%;
  max-width: 700px;
  text-align: center;
}

p {
  color: blue;
  margin: 0;
}


.welcome-el {
  font-size: clamp(1.5rem, 2vw, 2rem);
  margin-bottom: 1rem;
  opacity: 0;
  transition: opacity 2.0s ease;
}

.gif-container {
  margin-bottom: 2rem;
}

.globe-gif {
  display: block;
  width: min(35vw, 350px);
  max-width: 350px;
  height: auto;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 2.0s ease;
}

.button-container {
  text-align: center;
}

.start-btn {
  color: blue;
  font-family: "Hacker", sans-serif;
  font-size: clamp(0.9rem, 1.5vw, 1rem);
  background-color: black;

  border-radius: 10px;
  border: 2px blue solid;
  padding: 0.5rem 1rem;

  opacity: 0;
  transition: opacity 2.0s ease;
}

.start-btn:hover {
  color: rgb(125, 190, 255);
  border: 2px rgb(125, 190, 255) solid;
}
